{{#if success_msg}}
<div class="chip green">
{{success_msg}}
 <i class="close material-icons">close</i>
</div>
{{/if}}
{{#if error_msg}}
<div class="chip red">
{{success_msg}}
 <i class="close material-icons">close</i>
</div>
{{/if}}