<div class="row">
    <div class="col l8 offset-l2">
        <div class="card-panel">
            <h3 class="center">This is a Node App to Jot down youtube Ideas.</h3>
            <p class="center">Version: 1.0.0</p>
        </div>
    </div>
</div>