<div class="row">
    <div class="col l8 offset-l2">
        <div class="card-panel">
            <h3 class="center">JotDown Youtube Video Idea</h3>
            <div class="center">
                <a href="/idea/add" class="btn red">Add Here</a>
            </div>
        </div>
    </div>
</div>