<div class="row">
<div class="col l6 offset-l3">
    <div class="card-panel">
        <h5 class="center">Login to Continue</h5>
        <form action="/user/login" method="POST">
            <div class="input-field">
            <input type="email" name="email" id="" placeholder="Email">
        </div>
         <div class="input-field">
            <input type="password" name="password" id="" placeholder="Password">
        </div>
        <div class="center">
            <input type="submit" value="Login" class="btn red">
        </div>
        </form>
    </div>
</div>
</div>